.today.cartographer {
  background-image: url("../images/cartographer.png");
}

.brand {
  @extend .ui-grid-solo;

  .logo {
    @extend .ui-block-a;
    text-align: center;
  }
}

.location {
  @extend .ui-grid-solo;

  .city,
  .country {
    @extend .ui-block-a;
  }

  .city {
    font-size: $fontSizeHuge;
  }

  .country {
    font-size: $fontSizeBig;
  }
}

.info {
  @extend .ui-grid-b;
  margin-top: $marginBig;

  .current-temperature {
    @extend .ui-block-a;

    .value {
      font-size: $fontSizeEnormous;
    }

    .units {
      font-size: $fontSizeBig;
    }
  }

  .icon {
    @extend .ui-block-b;

    img {
      max-height: 100%;
      max-width: 100%;

      display: block;
      margin: auto;
    }
  }

  .text {
    @extend .ui-block-c;
    @extend .clearfix;

    div {
      text-align: right;
    }

    .condition-text {
      font-size: $fontSizeBig;
    }

    .condition-date {
      color: $grayLight;
      font-size: $fontSizeSmall;
    }
  }
}

.wind,
.atmosphere {
  @extend .ui-grid-b;

  text-align: center;

  .chill,
  .humidity {
    @extend .ui-block-a;
  }

  .direction,
  .pressure {
    @extend .ui-block-b;
  }

  .speed,
  .visibility {
    @extend .ui-block-c;
  }
}

.astronomy {
  @extend .ui-grid-a;

  text-align: center;

  .sunrise {
    @extend .ui-block-a;
  }

  .sunset {
    @extend .ui-block-b;
  }
}

.others {
  .text {
    color: $grayLight;
    text-transform: uppercase;
    margin-top: 0;
  }

  .units {
    color: $grayLight;
    font-weight: normal;
  }

  .value {
    font-weight: bold;
    font-size: $fontSizeBig;
  }

  .info-row {
    margin-bottom: 0;
  }
}

.about-author {
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .special-thanks {
    list-style: none;
    padding-left: 0;
  }
}

.help {
  @extend .ui-grid-a;

  .menu-help {
    @extend .ui-block-a;
  }

  .start-help {
    @extend .ui-block-b;

    text-align: right;
  }
}